@font-face {
    font-family: Digital;
    src: url(../font/DS-DIGIB.TTF);
}

:root{
    --colorfondo: #232323;
    --colormarco: #535353;
    --colorclaro: #bdbdbd;
}

*{
    padding: 0;
    margin: 0;
    left: 0;
}

body{
    background-image: url("../images/bg.svg");
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.containerWatch{
    border: 5px solid var(--colorclaro);
    border-radius: 25px;
    width: 150vh;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 15px 10px 0px var(--colorclaro);
    background-color: #535353e3;
    flex-direction: column;
}

.watch{
    font-size: 30vh;
    color: var(--colorclaro);
    font-family: 'Digital';
    -webkit-text-stroke: 1px var(--colorfondo);
    text-shadow: 5px 5px 5px var(--colorfondo);
}

.date{
    font-size: 10vh;
    color: var(--colorclaro);
    font-family: 'Digital';
    -webkit-text-stroke: 1px var(--colorfondo);
    text-shadow: 2px 2px 2px var(--colorfondo);
}

/* MOBILE */
@media screen and (max-width: 767px) {
    .containerWatch {
        border: 5px solid var(--colorclaro);
        border-radius: 25px;
        width: 150vh;
        height: 50vh;
        display: grid;
        justify-content: center;
        align-items: center;
        box-shadow: 15px 10px 0px var(--colorclaro);
        background-color: #535353e3;
        flex-direction: column;
        grid-template-columns: repeat(1, 50%);
        margin: 10%;
    }
    .watch {
        font-size: 9vh;
        color: var(--colorclaro);
        font-family: 'Digital';
        -webkit-text-stroke: 1px var(--colorfondo);
        text-shadow: 5px 5px 5px var(--colorfondo);
        position: relative;
        left: -55px;
    }
    .date{
        font-size: 6vh;
        color: var(--colorclaro);
        font-family: 'Digital';
        -webkit-text-stroke: 1px var(--colorfondo);
        text-shadow: 2px 2px 2px var(--colorfondo);
        position: relative;
        left: -50px;
    }
}

/* DESKTOP BIG*/
@media (min-width: 1800px) {

}

/* TABLET */
@media screen and (min-width: 767px) and (max-width: 1023px){

}